* {
    font-family: Arial, serif;
}

html {
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 99;
}

nav {
    text-align: right;
    width: 100%;
    height: 150px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.page-heading {
    width: 100%;
    position: fixed;
    top: 150px;
    background: white;
    padding-bottom: 15px;
    text-align: center;
    z-index: 99;
}

.home {
    width: 150px;
    height: 150px;
    max-width: 12vw;
    max-height: 12vw;
}

.home-logo {
    height: 100%;
    width: 100%;
}

.navbar-item {
    height: 100%;
    width: 200px;
    max-width: 12vw;
    max-height: 12vw;
    font-size: 18pt;
    border: none;
    background: transparent;
    transition: background-color 0.75s ease,
                color 0.75s ease;
}

.current-page {
    background-color: #C1272D;
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    .navbar-item:hover {
        background-color: #C1272D;
        color: white;
    }
}

.about-link {
    color: #C1272D;
    padding: 0 15px;
}

.back-link {
    color: #C1272D;
    padding: 0 15px;
}

.content {
    top: 220px;
    position: relative;
    /*z-index: -1;*/
}

.about-content {
    width: 750px;
    max-width: 90vw;
    text-align: center;
    top: 250px;
}

#dojo-etiquette-container {
    width: 100%;
}

.dojo-etiquette-content {
    text-align: justify;
}

.history-content {
    text-align: justify;
}

table {
    width: 100%;
    text-align: left;
}

.cell-line-heading {
    border-right: 2px solid #C1272D;
    text-align: right;
    padding-right: 5px;
    width: 35%;
}

thead {
    color: #C1272D;
}

.leader-content {
    text-align: justify;
}

.leader-photos {
    height: 178px;
    width: 150px;
}

.adults {
    width: 750px;
    max-width: 90vw;
    text-align: center;
}

.adults-content {
    text-align: justify;
}

.kids {
    width: 750px;
    max-width: 90vw;
    text-align: center;
}

.kids-content {
    text-align: justify;
}

:target::before {
    content: "";
    display: block;
    height: 225px; /* fixed header height*/
    margin: -225px 0 0; /* negative fixed header height */
}

.contact-us-content {
    text-align: center;
}

.hall-container {
    height: 500px;
    width: 675px;
    max-height: 66.67vw;
    max-width: 90vw;
}

.hall {
    height: 100%;
    width: 100%;
}

.gallery-container {
    display: flex;
    max-width: 90vw;
    width: 750px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-photo {
    padding: 5px;
    height: 200px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.social {
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    padding: 5px;
    background-repeat: no-repeat;
}

.facebook {
    height: 100%;
    width: 100%;
    z-index: 15;
}